/* Initial link */

a:focus, a:hover {
	text-decoration: initial;
}

a:hover .iklan {
	color: white;
}

/* Header */

.header {
	padding-top: 10px;
	float: right;
}

/* Breadcrumb */

.breadcrumb {
	margin-top: 20px;
}

/* Kotak di halaman pertama */

.box {
	margin-bottom: 20px;
}
.box .text {
	line-height: 120px;
	font-size: 25px;
}

/* Kotak di bagian iklan */

.list-iklan .box .text {
	line-height: 90px;
	font-size: 23px;
}

/* Footer */

.lisensi {
	margin-bottom: 20px;
}

/* ~~~TIPOGRAFI~~~ */

.box {
	color: white;
}

/* Menghitamkan beberapa teks */

.white,
.transparent,
[class*="lighten"],
.cyan[class*="accent"],
.teal[class*="accent"],
.green[class*="accent"],
.light-green[class*="accent"],
.lime[class*="accent"],
.yellow[class*="accent"],
.amber.accent-1,
.orange.accent-1,
[class="box yellow"] {
	color: #424242;
}

/* Diputihkan lagi :v */

.brown.lighten-2,
.brown.lighten-1,
.indigo.lighten-2,
.indigo.lighten-1,
.purple.lighten-2,
.purple.lighten-1,
.deep-purple.lighten-2,
.deep-purple.lighten-1 {
	color: white;
}
