mixin box(angka, konten, warna)
	.col-md-4.col-sm-12
		a(href="page-#{angka}.html")
			.box(class="#{warna}")
				h5.text.text-center
					strong #{konten}

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1, width=device-width")
		title arsipedia.com
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/materialize.color.css")
		script.
			document.writeln("<lin"+"k rel='stylesheet' href='css/style.css?"+Math.random()+"'/"+">");
	body
		.container
			.header
				a(href="daftar.html") Daftarkan Website Saya (gratis)
			.jumbotron.transparent
				h1.text-center
					strong arsipedia.com
				h3.text-center
					em Lihat dan Temukan Mereka
			.row
				+box("1", "Artikel & Edukasi", "red darken-4")
				+box("2", "Download", "green darken-4")
				+box("3", "Gerai & Jasa", "orange darken-4")
				+box("4", "Media Sosial", "purple darken-4")
				+box("5", "Media Informasi", "blue darken-4")
				+box("6", "Lembaga & Perusahaan", "brown darken-2")
