mixin box(angka, konten, warna)
	.col-md-4.col-sm-12
		a(href="page-#{angka}.html")
			.box(class="#{warna}")
				h4.text.text-center #{konten}

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1, width=device-width")
		title SitusPedia
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/materialize.color.css")
		link(rel="stylesheet", href="css/style.css")
	body
		.container
			.header
				a(href="daftar.html") Daftarkan Website Saya (gratis)
				|  / 
				a(href="ketentuan.html") Ketentuan
			.jumbotron.transparent
				h1.text-center SitusPedia
				h3.text-center Lihat dan Temukan Mereka
			.row
				+box("1", "Artikel & Edukasi", "red")
				+box("2", "Download", "green")
				+box("3", "Gerai & Jasa", "teal")
				+box("4", "Sosial", "light-blue")
				+box("5", "Media", "lime")
				+box("6", "Lembaga & Perusahaan", "deep-orange")
			hr
			p.text-center.lisensi Created by 
				a(href="https://twitter.com/mzaini30") @mzaini30
